additional_training_data/train_images/
additional_training_data/train_cleaned/
yolo_dataset
ai06-level1-project/test_cleaned/
ai06-level1-project/test_images/
ai06-level1-project/train_output/
ai06-level1-project/train_images/
ai06-level1-project/yolo_dataset/
ai06-level1-project/test_cleaned/
cropped_images/
pill_images/
base_data/
runs/
train_checkpoints/
yolo_dataset_v2/
additional_pill_images/
additional_cropped_images/
train_images
Classifier_*
cropped_test_images